/*Fade watched items*/
.card:has(.playedIndicator):not(:hover):not(:focus-within) {
    opacity: 0.2 !important;
    transition: opacity 0.3s ease-out;
}

.card:has(.playedIndicator):hover,
.card:has(.playedIndicator):focus-within {
    opacity: 1 !important;
    transition: opacity 0.13333333s ease-in;
}
